nginx_php:
  image: jinwoo/nginx_php:5.6.24
  command: bash -c "while [ 0 ]; do sleep 1;done"
  volumes:
    - ./www:/var/www/
    - ./logs:/var/log/nginx
    - /etc/localtime:/etc/localtime:ro

  ports:
    - "8787:80"
    - "443"   
  environment:
    FPM_USER: "www-data"
    FPM_GROUP: "www-data"
    FPM_LISTEN: "0.0.0.0:9000"
    USE_DOCKERIZE: "yes"
    UPSTREAM: "localhost:9000"
    DOMAIN: "dev.yt.com"
    WEBROOT: "/var/www/public/"
    LOCATION: 'location ~* \.(?:css|js|ico|woff|eot|svg|ttf|otf|woff2) {
                 access_log off;
                 add_header Cache-Control public;
               }'                   
#     EXTRACONF: 'env[PROJECT_NAME] = skeleton
#                               env[STAGE_NAME] = local'
